#header{
    position:fixed;
    top:0;
    width:100%;
    text-align: center;
    z-index:1000;
}

#active
{
    border-bottom: 3px solid rgb(158, 158, 172) !important;
    transition: all 0.4s ease-out !important;
}

.center{
    text-align: center;
}
.color{
    background:#dde2e3;
}
.colorfuente{
    color:#554853;
}
.colortexto{
    color:#72747a;
}
.listas li{
    margin-top: 2%;
    
}

.foto{
    width: 350px;
    height: 350px;
    float: right;
    margin-right: 6%;
}

.fotox{
    
}
@media screen and (max-width:992px)
{
    .foto
    {
        float: unset;
        margin-right: auto;
        margin-left: 1%;
    }
}